/* Header */
.header .header-content {
  padding-top: 14rem;
  padding-bottom: 15rem;
}

.header .text-container {
  margin-top: 6.5rem;
}
/* end of header */

/*********************/
/*    04. Header     */
/*********************/
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('../../../assets/images/header-background.jpg') center center no-repeat;
  background-size: cover;
}

.header .header-content {
  padding-top: 8rem;
  padding-bottom: 2.125rem;
  text-align: center;
}

.header .text-container {
  margin-bottom: 3rem;
}

.header h1 {
  margin-bottom: 0.5rem;
  color: #fff;
}

.header .p-large {
  margin-bottom: 2rem;
  color: #dfe5ec;
}

.header .btn-solid-lg {
  margin-right: 0.5rem;
  margin-bottom: 1.25rem;
}

	/* Header */
	.header .header-content {
		padding-top: 13rem;
		padding-bottom: 7.5rem;
	}

	.header h1 {
		font: 700 3.5rem/4rem "Montserrat", sans-serif;
	}
    /* end of header */
    
    /* Header */
	.header .header-content {
		padding-top: 14.75rem;
		padding-bottom: 17.5rem;
	}
    /* end of header */
    
    .header .btn-solid-lg {
        margin-right: 0.5rem;
        margin-bottom: 1.25rem;
    }

    .btn-solid-lg {
        display: inline-block;
        padding: 1.375rem 2.125rem 1.375rem 2.125rem;
        border: 0.125rem solid #14bf98;
        border-radius: 0.25rem;
        background-color: #14bf98;
        color: #fff;
        font: 700 0.75rem/0 "Montserrat", sans-serif;
        text-decoration: none;
        transition: all 0.2s;
    }